
  <footer class="footer">
    <div class="container-fluid">
      <nav class="pull-left">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="https://theinfoz.com/">
             Copyright &copy; 2021 Infoz Software Solution
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright ml-auto">
         <a href="https://theinfoz.com/">Powerd By Infoz Software Solution</a> 
      </div>				
    </div>
  </footer>
